spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/taskdb
    username: taskuser
    password: taskpass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
server:
  port: 8082

app:
  jwtSecret: SecretKeyToGenJWS765432109873210987654321
  jwtExpirationMs: 86400000
